.chips-container {
    width: 100%;
    border: 2px solid var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    height: 10rem;
    overflow-y: auto;
}
.chips-btn{
    display: flex;
    align-items: center;
    width: max-content;
    height: 5rem;
    border: 1px solid transparent;
    border-radius: 3.5rem;
    justify-content: space-between;
    position: relative;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

